{% extends "layout_login_register.html" %}

{% block title %} Home {% endblock %}


{% block body %}


<div class="container-fluid">
	
	<div class="row row1">	
		<div class="col-sm-12 col-md-6 col-lg-4 Col1">
			<div class="card" ">
			  <div class="card-body">
			    <h5 class="card-title homePageEachPostCardTitle" >
			    	<img id="eachUserImageHomePage" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/14908277_1922206274673726_8359523254259296115_n.jpg?_nc_cat=0&oh=55ae171a1c54a1d145014b583dcececf&oe=5BBA5EB6">
			    	<p id="pageTitleHomePage">
			    		Mother of Sarcasm 
			    		<span style="float: right;">  
			    			<i class="fa fa-at" style="font-size:16px">3.6M</i>
			    		</span> 
			    	</p>
			    </h5>
			    <p class="card-text"> G(old) </p>
				<img class="card-img-top" style="height: 500px;" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/36064014_2293513437543006_4898204433499815936_n.jpg?_nc_cat=0&oh=ae06c957670b27d5d2547a585a8cef22&oe=5BE5036D" alt="Card image cap">		    
			    
				<div class="row justify-content-center likeCommentSectionHomePage">
					<i class="fa fa-heart-o likePostHomePage" style="font-size:24px"></i>

					<i class="fa fa-comment-o commentPostHomePage" style="font-size:24px"></i>
					<i class="fa fa-share sharePostHomePage" style="font-size:24px"></i>


				</div>
			
			  </div>
			</div>
		</div>	

		<div class="col-sm-12 col-md-6 col-lg-4  Col2">
			<div class="card" ">
			  <div class="card-body">
			    <h5 class="card-title homePageEachPostCardTitle" >
			    	<img id="eachUserImageHomePage" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/33159143_10155761568572746_341872572058566656_n.jpg?_nc_cat=0&oh=30b0ca139c2b2e2de057f866ad181a8e&oe=5BB42D17">
			    	<p id="pageTitleHomePage">
			    		Manchester United
			    		<span style="float: right;">  
			    			<i class="fa fa-at" style="font-size:16px">100.6M</i>
			    		</span> 
			    	</p>
			    </h5>
			    <p class="card-text"> It's matchday for the Three Lions! </p>
				<img class="card-img-top" style="height: 500px;" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/36137306_10155829290837746_996598468992565248_n.jpg?_nc_cat=0&oh=593f38d01ab1d81f465bf6a72a333ada&oe=5BB08978">		    
			    
				<div class="row justify-content-center likeCommentSectionHomePage">
					<i class="fa fa-heart-o likePostHomePage" style="font-size:24px"></i>

					<i class="fa fa-comment-o commentPostHomePage" style="font-size:24px"></i>

					<i class="fa fa-share sharePostHomePage" style="font-size:24px"></i>


				</div>
			
			  </div>
			</div>
		</div>	

		<div class="col-sm-12 col-md-6 col-lg-4  Col3">
			<div class="card" ">
			  <div class="card-body">
			    <h5 class="card-title homePageEachPostCardTitle" >
			    	<img id="eachUserImageHomePage" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/17903437_10155554645366840_7299462485287843175_n.png?_nc_cat=0&oh=19d4a64da8875414ed48bd957de63618&oe=5BABA39A">
			    	<p id="pageTitleHomePage">
			    		9GAG	
			    		<span style="float: right;">  
			    			<i class="fa fa-at" style="font-size:16px">13.6M</i>
			    		</span> 
			    	</p>
			    </h5>
			    <p class="card-text"> This has happened too many times to be funny. </p>
				<img class="card-img-top" style="height: 500px;" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/34382444_10157734966036840_4486696272475979776_n.jpg?_nc_cat=0&oh=3d31fabdd6514b140ff7d90660b0c5a2&oe=5B9F0146" alt="Card image cap">		    
			    
				<div class="row justify-content-center likeCommentSectionHomePage">
					<i class="fa fa-heart-o likePostHomePage" style="font-size:24px"></i>

					<i class="fa fa-comment-o commentPostHomePage" style="font-size:24px"></i>

					<i class="fa fa-share sharePostHomePage" style="font-size:24px"></i>


				</div>
			
			  </div>
			</div>
		</div>		


	</div>

	<div class="row row2">	
		<div class="col-sm-12 col-md-6 col-lg-4  Col1">
			<div class="card" ">
			  <div class="card-body">
			    <h5 class="card-title homePageEachPostCardTitle" >
			    	<img id="eachUserImageHomePage" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/32815095_1373135622829843_8083556826815135744_n.jpg?_nc_cat=0&oh=dd69413e3639d0e541a8aea3ae4e5e86&oe=5B9E8748">
			    	<p id="pageTitleHomePage">
			    		The Motivation Mafia 
			    		<span style="float: right;">  
			    			<i class="fa fa-at" style="font-size:16px">1.6k</i>
			    		</span> 
			    	</p>
			    </h5>
			    <p class="card-text"> Stay Focused </p>
				<img class="card-img-top" style="height: 500px;" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/36037959_1402014013275337_636736336220389376_n.jpg?_nc_cat=0&oh=28fd7dae23886d0ad42f283845ab36b1&oe=5BA3A4D3">		    
			    
				<div class="row justify-content-center likeCommentSectionHomePage">
					<i class="fa fa-heart-o likePostHomePage" style="font-size:24px"></i>

					<i class="fa fa-comment-o commentPostHomePage" style="font-size:24px"></i>

					<i class="fa fa-share sharePostHomePage" style="font-size:24px"></i>


				</div>
			
			  </div>
			</div>
		</div>	

		<div class="col-sm-12 col-md-6 col-lg-4  Col2">
			<div class="card" ">
			  <div class="card-body">
			    <h5 class="card-title homePageEachPostCardTitle" >
			    	<img id="eachUserImageHomePage" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/20622183_107006920012957_4781614203903122980_n.png?_nc_cat=0&oh=1829e5620d7c0230cdcf0f15ee73bf8b&oe=5BA6EA4A">
			    	<p id="pageTitleHomePage">
			    		Dankest Memes
			    		<span style="float: right;">  
			    			<i class="fa fa-at" style="font-size:16px">100.K</i>
			    		</span> 
			    	</p>
			    </h5>
			    <p class="card-text"> This is it </p>
				<img class="card-img-top" style="height: 500px;" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/35529657_1706179082805047_6766375345944788992_n.jpg?_nc_cat=0&oh=8e495572d8f927fbc95d669346c126ba&oe=5BA0744E">		    
			    
				<div class="row justify-content-center likeCommentSectionHomePage">
					<i class="fa fa-heart-o likePostHomePage" style="font-size:24px"></i>

					<i class="fa fa-comment-o commentPostHomePage" style="font-size:24px"></i>

					<i class="fa fa-share sharePostHomePage" style="font-size:24px"></i>


				</div>
			
			  </div>
			</div>
		</div>	

		<div class="col-sm-12 col-md-6 col-lg-4  Col3">
			<div class="card" ">
			  <div class="card-body">
			    <h5 class="card-title homePageEachPostCardTitle" >
			    	<img id="eachUserImageHomePage" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/485626_577746518924812_1504622102_n.jpg?_nc_cat=0&oh=2e262ddbfa009c2d9c7c4bcc2893e7a2&oe=5BE64FE0">
			    	<p id="pageTitleHomePage">
			    		Routine of Nepal Banda			    	
			    		<span style="float: right;">  
			    			<i class="fa fa-at" style="font-size:16px">900k</i>
			    		</span> 
			    	</p>
			    </h5>
			    <p class="card-text"> Good Morning Nepal from DudhKunda </p>
				<img class="card-img-top" style="height: 500px;" src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/36114290_2276910029008444_3026818871177773056_n.jpg?_nc_cat=0&oh=a50a8276382ce3b1dbe833419195c376&oe=5BB1236D" alt="Card image cap">		    
			    
				<div class="row justify-content-center likeCommentSectionHomePage">
					<i class="fa fa-heart-o likePostHomePage" style="font-size:24px"></i>

					<i class="fa fa-comment-o commentPostHomePage" style="font-size:24px"></i>

					<i class="fa fa-share sharePostHomePage" style="font-size:24px"></i>


				</div>
			
			  </div>
			</div>
		</div>		


	</div>

</div>		


{% endblock %}




<!-- Sign Up -->
		<!-- <div class="card-body">
	  	    <h5 class="card-title">Signup </h5>

				{% from "_formhelpers.html" import render_field %}
			<form method=post action="/login">

			    <div class="form-group">
					{{ render_field(form1.username, class="form-control") }}
				</div>

				<div class="form-group">
					{{ render_field(form1.email, class="form-control") }}
				</div>

			    <div class="form-group">
					{{ render_field(form1.password,class="form-control") }}
				</div>

				<button type="submit" class="btn btn-primary">Password</button>
			</form>
			<br/>
	  	</div> -->


<!-- Login 

<div class="card-body">
	  	    <h5 class="card-title">Login </h5>

				{% from "_formhelpers.html" import render_field %}
			<form method=post action="/login">

			    <div class="form-group">
					{{ render_field(form.username, class="form-control") }}
				</div>

			    <div class="form-group">
					{{ render_field(form.password,class="form-control") }}
				</div>

				<button type="submit" class="btn btn-success">Login</button>
			</form>
			<a  href="{{url_for('resetPass')}}">Forgot Password</a>
			<br/>


-->