{% extends "layout.html" %}


{% block title %}

{{ super() }}

{% endblock %}

{% block body %}

<div class="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-light">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item ">
		      	<img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/27540886_2018752978403801_5231048398945606102_n.jpg?_nc_cat=0&_nc_eui2=AeGogtTThL5HJW5GUnGX71rmpnOaMCbhnec0pGJjEy1rnd8X1Wbr5nbEPXyybC7Q86g9B2cPjHULlpyZybWREz1eX7Kydysb3-px2rk76ZMCig&oh=750e0cda24ba0a56601ea960b0d9a944&oe=5BC1957F" class="profilePictureNavbar">
		      </li>

		     <li class="nav-item profileName ">
		     	Sanjiv
		      </li>
		      
		    </ul>
		  </div>
		</nav>

		<div class="row postAfterNavbar">
			<div class="col-lg-3 Lsidebar">
				<div class="card profileDescription">
				  <div class="card-body">
				  	<div class="nameInfo">
					  	<img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/15941286_1830659097213191_5681042522182209682_n.jpg?_nc_cat=0&oh=67b7eed2f627cb37034385704fc75471&oe=5BBBEC03" class="desciptionImage">
					    <p class="card-title usernameDescription">Sanjiv Gautam</p>  		
				  	</div>

				  	<div class="row followUnfollowPostholderMain">
				  		<div class="followUnfollowPostholder">
						    <img src="https://cdn2.iconfinder.com/data/icons/basic-ict-line-icons/100/18-512.png" class="postIcon">	 
						    <p class="textSideBar">Posts</p>
						    <h5>14</h5>			
				  		</div>	

				  		<div class="followUnfollowPostholder">
						    <img src="https://cdn4.iconfinder.com/data/icons/users-29/32/163-01-512.png" class="postIcon">	  			
				  			<p class="textSideBar">Followers</p>
				  			<a href="" class="followButton">Follow</a>	
				  		</div>

				  		<div class="followUnfollowPostholder">
						    <img src="http://cdn.onlinewebfonts.com/svg/img_500833.png" class="postIcon">	  			
				  			<p class="textSideBar">Following</p> 
						    <h5>232</h5>			
				  		</div>	

				  	</div>
				
				  </div>
				</div>

				<div class="card profilePhotos">
				  <div class="card-body">
				  	<h5 class="card-title">Photos</h5>

				  	<div class="row galleryPhotoHolder">
				  		<div class="photoGalleryPic">
						    <img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/27540886_2018752978403801_5231048398945606102_n.jpg?_nc_cat=0&oh=a3d89ebf89fc5f84f8a8b260f85cd1d6&oe=5BC1957F" class="galleryPhotos">	 
						    		
				  		</div>	

				  		<div class="photoGalleryPic">
						    <img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/23844497_1982378072041292_949510276386711605_n.jpg?_nc_cat=0&oh=f6400bc9d051562dc7294d23a00d2c10&oe=5BBE7BB1" class="galleryPhotos">	  			
				  			
				  		</div>

				  		<div class="photoGalleryPic">
						    <img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/19399189_1910375805908186_2288361146269777196_n.jpg?_nc_cat=0&oh=c8fc8d3f5e623db0df06db82f67bbea1&oe=5BB599C5" class="galleryPhotos">	  			
				  		</div>	

				  	</div>
					
					<div class="row galleryPhotoHolder2">
				  		<div class="photoGalleryPic">
						    <img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/15941286_1830659097213191_5681042522182209682_n.jpg?_nc_cat=0&oh=67b7eed2f627cb37034385704fc75471&oe=5BBBEC03" class="galleryPhotos">	 
						    		
				  		</div>	

				  		<div class="photoGalleryPic">
						    <img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/13895579_1756021478010287_2857719941798426915_n.jpg?_nc_cat=0&oh=2753e707d4d65cc3fd8070acfeff668b&oe=5BC07940" class="galleryPhotos">	  			
				  			
				  		</div>

				  		<div class="photoGalleryPic">
						    <img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/13428592_1728869630725472_3063807073753275466_n.jpg?_nc_cat=0&oh=f2bc7dcc5eb882544181ff6bcf7f7795&oe=5BA49AA5" class="galleryPhotos">	  			
				  		</div>	

				  	</div>
				
				  </div>
				</div>

				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title" style="text-align: center;">Recently Visited Links</h5>
				  </div>

				  <ul class="list-group ">
				    <li class="list-group-item">
				    	<a href="#" class="visitedLinks"> 
				    		<span>
				    			<img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/11701167_1615753638708996_6204787513432136715_n.jpg?_nc_cat=0&oh=d6d94963c100ca9f0dc6f5ed694c8d5d&oe=5BBAB07D" class="recentlyVisitedLinkPhoto">
				    		</span> 
				    	Damodar Gautam 
				    	</a>
				    </li>
				    <li class="list-group-item">
				    	<a href="#" class="visitedLinks">
					    	<span>
					    			<img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/15202695_1199479506798722_4662571600525028247_n.png?_nc_cat=0&oh=93cad7ec9b304896c3c7bda9055ab36f&oe=5BA20F01" class="recentlyVisitedLinkPhoto">
					    	</span>  
				    	Manchester United Fan Page 
				    	</a>
										    	
				    </li>
				    <li class="list-group-item">
				    	<a href="#" class="visitedLinks">
				    	 	<span>
					    			<img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/17903437_10155554645366840_7299462485287843175_n.png?_nc_cat=0&oh=19d4a64da8875414ed48bd957de63618&oe=5BABA39A" class="recentlyVisitedLinkPhoto">
					    	</span> 
				    	 9GAG Posts
				    	</a>				    	
				    </li>

				    <li class="list-group-item">
				    	<a href="#" class="visitedLinks">
				    		<span>
					    			<img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/10526179_1547891725491961_7067963448785618007_n.jpg?_nc_cat=0&oh=74333db28ef1dd25baf4730f31265e58&oe=5BBA8D5B" class="recentlyVisitedLinkPhoto">
					    	</span> 
				    	 TechGroup 
				    	</a>				    	
				    </li>

				    <li class="list-group-item">
				    	<a href="#" class="visitedLinks">
				    		<span>
					    			<img src="https://scontent.fktm3-1.fna.fbcdn.net/v/t1.0-9/19665309_2011462142204696_3542269454165653069_n.jpg?_nc_cat=0&oh=93b6933d33a52ad6c35c8f4ff304cd2e&oe=5BAD0E59" class="recentlyVisitedLinkPhoto">
					    	</span> 
				    	 Meme Sharers 
				    	</a>				    	
				    </li>

				  </ul>

				  
				</div>



			</div>	

			<div class="col-sm-6 postBar">
					<div class="card eachPost" >
					  <div class="card-body eachPostBody">
					    <h5 class="card-title">
					    	<div class="row eachPostUserImageName">
					    		<img src="https://scontent.fktm1-1.fna.fbcdn.net/v/t1.0-9/35733528_1892826967693396_3193432923311177728_n.jpg?_nc_cat=0&_nc_eui2=AeHZ0ryLaoTTcFER7a11rjCx8xMvZN6m1xJAb-AlOIcfnd7JJnmvhh1a3EEWUUKk1TWJn-kEc4ql1M29FkRX0oZb8kXaCczBYhuHMvScKV1iKg&oh=cde7de59718e2646904fd5ebf2750aef&oe=5BAB65CB" class="posteruserImage">
					    		<div class="col-sm">
						    		<p class="userName img-responsive">Prabin Adhikari Chhetri</p>		
						    		<a class="timeofPost" href="#">5 mins</a>		    			
					    		</div>
					    	</div>
					    </h5>
					    <p class="card-text caption">
					    	Attitude is the little thing that makes a differences
							<br>
							Lens :- Shaileja
					    </p>
					    <img src="https://scontent.fktm1-1.fna.fbcdn.net/v/t1.0-9/33940818_1882039548772138_8084380893600284672_n.jpg?_nc_cat=0&_nc_eui2=AeHReGhopYMNhYriNnh-XtwMZYG743ej37sIpuwtrqeYNVazEa_HqlkSJoYSsi7y-OzwfVLa6tnQPbQRv-ZWlASN1me6gqPffzbmNZ7GKyXL8g&oh=7fff3f059f3d3203e5722804f13e6463&oe=5B9F6333" class="everyPostPhotoByUser">

					    <div class="card-footer likeCommentSection">
						    <div class="row">
						    	<div class="col-sm-4">
						    		<a href="">Like</a> 
						    	</div>
						    	<div class="col-sm-4">
						    		<a href="">Comment</a> 
						    	</div>
						    	<div class="col-sm-4">
						    		<a href="">Share</a> 
						    	</div>
						    </div>
						</div>
					  </div>
					</div>
			</div>	

			<div class="col-sm-3 Rsidebar">
				Col3
			</div>	
		</div>





			
		
	

	</div>
	
{% endblock %}