{% block title %}

<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link   rel="icon" href="https://cdn3.iconfinder.com/data/icons/medical-2-1/512/letter-512.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/mystyle.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Tajawal" rel="stylesheet">

	<title>{{title}}</title>

</head>

{% endblock %}



{% block body %}
<body>









<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


</body>
</html>

{% endblock %}


